body {
    width: 600px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 50px;
    background-color: white;
    line-height: 1.5;
    font-size: 100%;
}

h1{
    font-size: 180%;
    font-weight: bold;
    text-indent: 0px;
}

h2{
    font-size: 140%;
    color: CornflowerBlue;
    font-weight: bold;
    text-indent: 0px;
    line-height: 0;
}

h3{
    font-size: 120%;
    font-weight: bold;
    line-height: -10;
}

.top-buffer{
    margin-top: 0px;
}

.zero-top-buffer{
    margin-top: -5px;
}

hr{
    margin-top: 0px;
    margin-bottom: 0px;
}

p{
    margin-top: 0px;
}

p.subheading{
    line-height: 0;
    font-size: 125%;
}

p.title{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 120%;
    font-weight: bold;
    text-indent: -15px;
    line-height: 0.5;
}

p.date{
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 100%;
    line-height: 0.5;
}

p.proj_cn{
    margin-bottom: 0px;
    margin-top: 5px;
    font-weight: bold;
    text-indent: -15px;
    line-height: 1;
}

p.occupation{
    margin-bottom: 0px;
    margin-top: 5px;
    font-size: 95%;
    font-weight: bold;
    font-style: italic;
    text-indent: -15px;
    line-height: 1;
}

ul{
    margin: 0;
    padding: 10px;
}

ul.sub_description{
    margin: 0;
    margin-top: -10px;
    margin-bottom: -10px;
}

@media print {
    .printEl {
        width: 8.5in;
        height: 11in;
    }
    h2{
        color: CornflowerBlue;
    }
    education, project{
      page-break-inside: avoid
    }
    footer{
      page-break-after: always
    }
    a[href]:after {
        content: none !important;
    }
    a[mailto]:after {
        content: none !important;
    }
}
